.header {
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
}
.container-fluid {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.msg {
  text-align: center;
}
